:root {
  --light-text-color: black;
  --light-background-color: beige;
  font-family: 'Open Sans', sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Noto Sans KR', sans-serif;
}

/* Note: Default screen size is < 600px */
/* But the styling effects only work on screens 768px and larger */

a {
  text-decoration: none;
  color: var(--light-text-color);
}

ul {
  list-style-type: square;
}

li {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-left: -1rem;
}

#container {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  background-color: var(--light-background-color);
  padding: 20px;
}

#settings_container {
  display: none;
}

#biographical_details_container {
  margin-top: 20px;
  margin-bottom: 25px;
}

#name {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 10px;
}

#address {
  font-style: italic;
}

#address > p,
#phone_number > p {
  margin: 0;
  padding: 3px;
}

.subheading {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.experience_details,
.education_details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 15px;
}

.experience_date,
.education_date {
  font-style: italic;
}

.experience_location,
.experience_date,
.education_location,
.education_date {
  margin-top: 5px;
  margin-bottom: 0;
}

/* Media Queries */

@media screen and (min-width: 600px) {
  li {
    margin: auto;
  }

  #container {
    width: 80%;
    margin-top: 30px;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 768px) {
  #container {
    padding-left: 100px;
    padding-top: 60px;
  }

  #view_message_container {
    display: none;
  }

  #settings_container {
    display: block;
  }

  #introduction_container > *,
  #skills_container > *,
  #experience_container > *,
  #education_container > * {
    margin-left: 15px;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  #skills_heading,
  #experience_heading,
  #education_heading {
    margin-left: -15px;
  }

  #skills_ul {
    padding-left: 40px;
  }

  .experience_details,
  .education_details {
    width: 70%;
    padding-left: 0;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .slightly_tacky {
    font-family: 'Comic Neue', cursive;
  }

  .tacky {
    font-family: 'Cedarville Cursive', cursive;
    color: blue;
  }

  .jiggles {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px rgb(0, 102, 255) solid;
    padding: 5px;
    background-color: rgb(214, 196, 37);
  }

  .jiggling_up {
    transition: cubic-bezier(0, 2.05, 0.66, 1.37) 0.1s;
    transform: translate(1px, 1px);
  }

  .jiggling_down {
    transition: cubic-bezier(0, 2.05, 0.66, 1.37) 0.1s;
    transform: translate(-1px, -1px);
  }
}

@media screen and (min-width: 992px) {
  #container {
    width: 70%;
  }
}
